body {
  margin: 0;
}

.top-pane {
  background-color: #212529;
}

.pane {
  padding-top: 3.8vh;
  height: 100vh;
  display: flex;
}

.vertical-pane {
  padding-top: 0px;
  height: 100vh;
  display: flex;
}

.resizer {
  height: 0px;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: .3rem;
  background-color: hsl(0, 4%, 10%);
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.run-btn {
  border-radius: .2rem;
  padding: 3px;
  padding: .1rem .5rem .1rem 0.5rem;
  background: rgb(23, 172, 23);
  border: none;
  color: white;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
  padding: .5rem .5rem .5rem 1rem;
  border-top-right-radius: .3rem;
  border-top-left-radius: .3rem;
  font-family: sans-serif;
}

.CodeMirror {
  height: 96% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}
.d-inline-block {
  background-color: white;
}
